@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.MenuContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
  margin: 20px auto;
}
