.AuctionInfoContainer {
  margin-top: 10px;
  display: flex;
  width: 610px;
}

.AuctionInfo-Pic {
  display: flex;
  width: 270px;
  height: 270px;
  border: 1px solid black;
}

.AuctionInfo-Info {
  height: 275px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 80px;
}

.AuctionInfoBoxFixed {
}
