.AuctionInfo_box_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 270px;
  height: 270px;
  border: 1px solid black;
  position: fixed;
}

.AuctionInfo_box_TimeOut {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  width: 200px;
}
.AuctionInfo_box_User {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: baseline;
}
.AuctionInfo_box_User div {
  margin-right: 10px;
}

.AuctionInfo_box_Info {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  width: 200px;
}

.AuctionInfo_box_MaxBid {
  border: 1px solid black;
}

/* 모달 오버레이 스타일 */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1050; /* 모달 컨텐츠보다 낮아야 함 */
  background-color: rgba(0, 0, 0, 0.5);
}

/* 모달 콘텐츠 스타일 */
.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1060; /* 오버레이보다 높아야 함 */
}

/* 내부 콘텐츠 중앙 정렬을 위한 스타일 */
.modalInnerContent {
  display: flex;
  flex-direction: column;
  width: 524px;
  height: 733px;
}
