.NavMenuContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto; /* 좌우 중앙 정렬 */
}
.list-container {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding-top: 65px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto; /* 좌우 중앙 정렬 */
  width: 980px;
}

.list-main {
  height: 100 dvh;
  align-items: center;
}
