.NavMenuContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto; /* 좌우 중앙 정렬 */
}
.container {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding-top: 65px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto; /* 좌우 중앙 정렬 */
}

.Chat-leftSectionWrapper {
  flex: 1; /* 차지할 수 있는 영역 모두 차지 */
  display: flex;
  align-items: center;
  flex-direction: row;
}

.main-Chat {
  width: 1280px;
  margin: 0 auto; /* 가로 중앙 정렬을 위해 추가 */
  height: 200dvh;
}
