.modalContainer {
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 28.4px -3px rgba(51, 51, 51, 0.2);
  padding: 28px;
}

.close {
  position: fixed;
  right: 20px;
  top: 20px;
}

.header {
  margin-top: 36px;
  color: #333;
  font-family: SUIT;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 30px; /* 150% */
  letter-spacing: -0.8px;
}

.line {
  margin-top: 12px;
  width: 468px;
  height: 0px;
  flex-shrink: 0;
  /* stroke-width: 2px; */
  stroke: #333;
}

.nowprice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 48px;
}

.text {
  color: #949597;
  font-family: SUIT;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 150% */
  letter-spacing: -0.56px;
  margin-top: 13px;
}

.point {
  color: #333;
  text-align: right;
  font-family: SUIT;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: -0.64px;
  margin-top: 12px;
}

.havePoint {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 34px;
}

.BidButton {
  margin-top: 34px;
  display: flex;
  width: 468px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid #333;
  background: #fff741;
  color: #333;
  text-align: right;
  font-family: SUIT;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px; /* 150% */
  letter-spacing: -0.64px;
}

.policy {
  margin-top: 12px;
  color: #d9d9d9;
  font-family: SUIT;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 150% */
  letter-spacing: -0.4px;
}

.BidLogContainer {
  box-sizing: border-box;
  margin-top: 20px;
  width: 468px;
  height: 377px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  background: #fff;
  padding: 16px 20px;
}

.BidLogTitle {
  color: #333;
  font-family: SUIT;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 131.25% */
  letter-spacing: -0.64px;
}

.BidLog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.BidLogWarp {
  display: flex;
  flex-direction: row;
}

.BidLogPic {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  fill: #d9d9d9;
}

.BidLogText {
  margin-left: 8px;
  color: #333;
  font-family: SUIT;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.56px;
}

.BidLogTime {
  color: #949597;
  text-align: right;
  font-family: SUIT;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 150% */
  letter-spacing: -0.4px;
}
