.NavContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  background-color: brown;
  width: 100%;
  margin: 0 auto;
  color: white;
  position: sticky; /* 또는 fixed, 상황에 맞게 사용하세요 */
  top: 0; /* 화면 상단에 붙습니다 */
  z-index: 998; /* 다른 요소들보다 앞에 오도록 z-index 설정 */
}

.NavMenu {
  display: flex;
  flex-direction: row;
}

.NavMenu2 {
  display: flex;
  flex-direction: row;
}

.NavMenu > div,
.NavMenu2 > div {
  margin: 20px;
}

/* 모달 오버레이 스타일 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999; /* .modal-content보다 낮아야 함 */
  background-color: rgba(0, 0, 0, 0.5);
}

/* 모달 콘텐츠 스타일 */
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-height: 90%;
  padding: 20px;
  overflow: auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  z-index: 1000;
}

/* 내부 콘텐츠 중앙 정렬을 위한 스타일 */
.modal-inner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
