.chatContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 600px;
  margin: 0 auto; /* 가로 중앙 정렬을 위해 추가 */
  border: 1px solid black;
}

.chatHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chatBody {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 60%;
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  align-self: flex-start;
}

.chatFooter {
  display: flex;
  padding: 10px;
}

.messageInput {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}
.chat-input button {
  /* 버튼 스타일링 */
}

/* 모달 오버레이 스타일 */
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* 모달 콘텐츠 스타일 */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  max-height: 90%;
  padding: 20px;
  overflow: auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

/* 내부 콘텐츠 중앙 정렬을 위한 스타일 */
.modal-inner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.currentUserMessage {
  background-color: lightblue; /* Style for current user's messages */
}

.otherUserMessage {
  background-color: lightgreen; /* Style for other users' messages */
}
