.vipApplyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px;
  width: 600px;
  overflow-y: auto;
}

.vipApplyTitle {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  justify-content: flex-start; /* 버튼들을 시작점에서 정렬 */
}

.vipApplyTitle h1 {
  font-size: 20px;
  font-weight: 500;
}

.vipApplySubTitle {
  text-align: left;
  font-size: 12px;
  color: gray;
  opacity: 80%;
}

.vipApplyContainer .input-group {
  margin-bottom: 20px; /* 각 입력 그룹의 하단 여백 */
}

.vipApplyContainer input {
  border: 1px solid #ccc; /* input 필드 경계선 */
  width: 100%; /* 너비 설정 */
  height: 50px;
  padding-left: 10px;
  box-sizing: border-box; /* 너비가 패딩과 경계선을 포함하도록 설정 */
}

.vipApplyContainer textarea {
  border: 1px solid #ccc; /* input 필드 경계선 */
  margin: 10px 0; /* 텍스트 입력 필드의 상하 여백 */
  width: 100%; /* 너비 설정 */
  min-height: 150px; /* textarea의 높이 설정 */
  padding: 8px; /* 내부 패딩 */
  box-sizing: border-box; /* 너비가 패딩과 경계선을 포함하도록 설정 */
}

.vipApply-Group {
  display: flex;
  flex-wrap: wrap; /* 다음 줄로 넘기기 활성화 */
  justify-content: flex-start; /* 버튼들을 시작점에서 정렬 */
  align-items: center; /* 세로선상에서 중앙 정렬 */
  gap: 10px; /* 버튼 사이의 간격 */
}

.btn-basic.selected {
  background-color: red; /* 선택된 버튼의 배경색 */
  color: white; /* 선택된 버튼의 텍스트 색상 */
}

.SubmitButton {
  margin-top: 20px;
  margin-bottom: 20px;
}
